---
layout: default
---
<article class="page">
  <div class="page-content">
    {{ content }}
  </div>

Tags:
  <div class="tag-links">
  {% assign sorted_tags = page.tags | split: " " | sort %}
  {% for tag in sorted_tags %}
  <a href="{{site.baseurl}}/tag-page.html?tag={{tag}}">{{tag}}</a>
  {% endfor %}
  </div>

<br>
Navigation:
<div class="post-nav">
{% assign sortedPages = site.pages | sort:'order' %}
{% for p in sortedPages %}
    {% if p.url == page.url %}
        {% if forloop.first == false %}
            {% assign prevIndex = forloop.index0 | minus: 1 %}
            <p>
            <a href="{{site.baseurl}}{{sortedPages[prevIndex].url}}">
                {{sortedPages[prevIndex].title}}
            </a>
            </p>
        {% endif %}
        {% if forloop.last == false %}
            {% assign nextIndex = forloop.index0 | plus: 1 %}
            <p>
            <a href="{{site.baseurl}}{{sortedPages[nextIndex].url}}">
                {{sortedPages[nextIndex].title}}
            </a>
            </p>
        {% endif %}
    {% endif %}
{% endfor %}
</div>

</article>
